*,
*::before,
*::after {
  box-sizing: border-box;
}

/* custom propreties: reusability */
:root {
  --clr-primary: #f70058;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --grid: minmax(1em, 10%) minmax(10rem, 22ch) minmax(10rem, 23ch)
    minmax(1em, 3fr) max-content;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1;
}

p {
  margin-top: 0;
}

/* buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1.25em;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.75em;
  text-decoration: none;
}

.btn--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.btn--primary:hover {
  background-color: var(--clr-dark);
}

.btn--outline {
  /* border: 3px solid var(--clr-primary); */
  outline: 3px solid var(--clr-primary);
  outline-offset: -3px;
  /* same amount outline as is border to push it in. */
  color: var(--clr-primary);
}
.btn--outline:hover {
  background: var(--clr-dark);
  outline-color: var(--clr-dark);
  color: var(--clr-light);
}

header {
  background-color: var(--clr-light);
  text-align: center;
}

.logo {
  margin-top: 1em;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  max-width: 35rem;
  margin: 0 auto;
  padding: 1em;
  list-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}
.nav__item {
  margin-left: 1em;
  margin-right: 1em;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}
.nav__link:hover {
  color: var(--clr-primary);
}

.weather {
  display: grid;
  grid-template-columns: min-content 1fr;
  background: var(--clr-dark);
  color: var(--clr-light);
  width: max-content;
  margin: 0.5em auto -1em;
  position: relative;
  z-index: 1;
}

.weather__icon {
  grid-row: span 2;
  background-color: var(--clr-primary);
  padding: 0.5em;
  display: flex;
}

.weather__info {
  margin-left: 0.75rem;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  display: flex;
  align-items: center;
}
.weather__info span {
  color: var(--clr-light);
  margin-right: 0.75rem;
  font-size: 1rem;
  text-transform: none;
  margin-left: 1em;
}

.weather__info:first-of-type {
  margin-bottom: 0.5rem;
  position: relative;
}
.weather__info:first-of-type::after {
  content: "";
  position: absolute;
  background: var(--clr-light);
  opacity: 0.25;
  height: 2px;
  width: calc(100% - 0.75rem);
  bottom: -0.5rem;
}
.weather__info:last-of-type {
  margin-bottom: 0.5rem;
}

.main {
  padding: 3em 1em 10em;
}
/* new updates. fk!! is he messy! overcomplicating things AF. */

@media (min-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: var(--grid);
    justify-items: start;
    padding-left: 0;
    padding-right: 0;
  }
  .main > * {
    grid-column: 2/4;
  }
  .main--ski {
    background-position: left bottom;
  }
  /* margin left on the 2nd, 3rd, 4th btn, all btns that come AFTER the 1st one. */

  .btn + .btn {
    margin-left: 1em;
  }
}

@media (min-width: 1200px) {
  .main--ski {
    background-position: center right;
  }
}

.main--ski {
  background-image: url(../images/background.png);
  background-size: cover;
}

.main__title {
  line-height: 1;
  font-weight: var(--fw-black);
  font-size: 3rem;
  margin-bottom: 0.75em;
}
.main__intro {
  margin-bottom: 4em;
}

@media (min-width: 1000px) {
  header {
    display: grid;
    grid-template-columns: var(--grid);
    align-items: center;
  }
  .logo,
  .nav,
  .weather {
    grid-row: 1;
    margin: 0;
  }
  .weather {
    grid-column: -2/-1;
    justify-self: end;
  }
  .logo {
    grid-column: 2;
  }
  .nav {
    grid-column: 2/5;
    justify-self: end;
    margin-right: 3em;
  }
}
